.linkedin-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 85%;
  padding: 10px 16px;
  background: #f5f5f5;
  color: #000;
  border: 1px solid #dadce0;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.2s;
  margin: 0 auto 15px auto; /* يوسّط الزر + مسافة تحت */
}

.linkedin-btn:hover {
  background: #fff;
}
